/* Styles for the app */
.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.button {
    background-color: #FF681F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.playerCard{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
