/* Styles for the app */
.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.button {
    background-color: #FF681F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.playerCard{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.header{
    width: "100%";
    background-color: "#FF681F";
    color: "white";
    height: "15vh";
    font-size: 28;
    font-family: "cursive";
    display: "flex";
    justify-content: "space-around";
    align-items: "center";
    box-shadow: "0 4px 10px rgba(0,0,0,0.2)";
}
